[Unit]
Description=System configuration and setup monitoring

[Timer]
Unit=sysmon.service
OnCalendar=*-*-* 08:00:00
RandomizedDelaySec=900

[Install]
WantedBy=timers.target
